@import url("./variables.css");
@import url("./typography.css");
@import url("./avatar.css");
@import url("./buttons.css");
@import url("./dialog.css");
@import url("./forms.css");
@import url("./about.css");
@import url("./linktree.css");
@import url("./icons.css");
@import url("./utils.css");

body {
  background-color: var(--color-neutral-inverted);
  color: var(--color-brand-primary);
}

.page-wrapper {
  margin: 0 auto;
  max-width: 45rem;
  max-width: 90rch;
  padding: var(--size-32) var(--size-24);
}

@media screen and (width > 47.9375rem) {
  main {
    text-align: center;
  }
}
